/*Importações*/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/*Variáveis*/
:root {
    --background-color: #161B22;
    --cards-sections-color: #21262D;
    --accent-color: #58A6FF;
    --main-text-color: #E6EDF3;
    --secondary-text-color: #8B949E;
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    line-height: 1.5;
    font-family: "Outfit", sans-serif;
    background-color: var(--background-color);
}

img {
    max-width: 100%;
    display: block;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button,
input,
textarea,
select {
    font: inherit;
}

/*Header*/
.header {
    padding: 0.8rem 1.5rem;
}

/*Nome, Frase e Foto*/
.name-and-phrase {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name-and-phrase .name {
    color: var(--main-text-color);
    width: 100%;
    text-align: center;
    font-size: 2.6em;
    margin-bottom: 1.5rem;
}

.name-and-phrase .phrase {
    font-size: 1.2em;
    color: var(--main-text-color);
    margin-bottom: 1.5rem;
}

.profile-image-div {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    overflow: hidden;
}

.profile-image {
    width: 100%;
}

/* Barra de Navegação */
.navbar {
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 0.8rem;
    border-bottom: 1px solid var(--secondary-text-color);
    margin: 3rem 0;
}

.navbar-logo-div {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;
}

.navbar-logo-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navbar-list {
    display: flex;
    padding: 0.5rem;
}

.navbar-links {
    color: var(--main-text-color);
    padding: 0.2rem;
    margin: 0 0.2rem;
    transition: 0.2s ease;
    text-transform: uppercase;
    font-size: 1.2em;

}

.navbar-links:hover {
    cursor: pointer;
    color: var(--accent-color);
}

/*Sobre Mim*/
.about-me-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: 2rem 0;
}

.about-me-description {
    color: var(--main-text-color);
    font-size: 1.2em;
    line-height: 1.6;
    max-width: 600px;
    border-left: 2px solid var(--accent-color);
    padding-left: 1rem;
    margin-bottom: 2rem;
}

.about-me-description em {
    color: var(--accent-color);
}

/*Minhas Habilidades*/
.skills-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
    padding: 1rem;
}

.skills-title {
    color: var(--accent-color);
    font-size: 2em;
    margin-bottom: 1rem;
}

.skills-intro {
    max-width: 660px;
    color: var(--main-text-color);
    font-size: 1.2em;
    margin-bottom: 1.5rem;
}

.skill-cards {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 1rem;
    gap: 2rem;
}

.skill {
    width: 200px;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 0.5rem;
    background-color: var(--cards-sections-color);
    border-radius: 10px;
    border: 1px solid var(--accent-color);
    transition: 0.4s ease all;
}

.skill:hover {
    box-shadow: 0px 0px 5px 2px rgba(88, 166, 255, 0.8);
    transform: scale(1.02);
}

.skill-icon {
    font-size: 5em;
}

.fa-html5 {
    color: #E34F26;
}

.fa-css {
    color: #1572B6;
}

.fa-square-js {
    color: #F7DF1E;
}

.fa-typescript {
    color: #3178C6;
}

.fa-react {
    color: #61DAFB;
}

.fa-python {
    color: #3776AB;
}

.fa-php {
    color: #777BB4;
}

.fa-database {
    color: #4479A1;
}

.fa-node {
    color: #339933;
}

.skill-title {
    font-size: 1em;
    color: var(--main-text-color);
}

.skill-cards p {
    color: var(--main-text-color);
}

/*Meus Projetos*/
.projects-section {
    text-align: center;
    margin: 2rem 0;
    padding: 1rem;
}

.projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.projects-title {
    color: var(--accent-color);
    font-size: 2em;
    margin-bottom: 1rem;
}

.project {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    background-color: var(--cards-sections-color);
    color: var(--main-text-color);
    border: 1px solid var(--accent-color);
    border-radius: 10px;
    overflow: hidden;
    height: 680px;
}

.project-img {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.project-description-container {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 50%;
}

.project-title {
    margin: 0.5em 0;
}

.project-description {
    margin: 0.5em 0;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: disc;
    margin: 0.5em 0;
    justify-content: center;
}

.project-list li {
    margin: 0 1rem;
}

.project-link {
    margin-top: 2rem;
    background-color: var(--accent-color);
    padding: 0.4rem;
    border-radius: 5px;
    color: var(--main-text-color);
    transition: 0.2s ease all;
}

.project-link:hover {
    box-shadow: 0px 0px 5px 2px rgba(88, 166, 255, 0.8);
    transform: scale(1.02);
}

/*Conteúdo Extra*/
.extra-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 1rem;
    padding: 0 1rem;
    margin-top: 5rem;
    color: var(--main-text-color);
    font-size: 1.1em;
}

.extra-content-container {
    flex: 1 1 calc(33.333% - 1rem);
    padding: 0.5rem;
}

/*Sessão "Curiosidades, Hobbies e Contato"*/
.curiosities,
.hobbies,
.contact {
    border-left: 1px solid var(--secondary-text-color);
    border-bottom: 1px solid var(--secondary-text-color);
    border-bottom-left-radius: 10px;
}

.curiosities-title,
.hobbies-title,
.contact-title {
    color: var(--accent-color);
    margin-bottom: 1rem;
    font-size: 1.5em;
}

.curiosities-item,
.hobbies-item,
.contact-item {
    text-align: left;
    margin-bottom: 0.5rem;
}

.curiosities-item em {
    color: var(--accent-color);
}

.contact-item {
    font-size: 1.2em;
    transition: 0.2s ease all;
    width: fit-content;
}

.contact-item:hover {
    color: var(--accent-color);
}

/*Rodapé*/
.footer {
    margin: 5rem 1rem 0 1rem;
    color: var(--main-text-color);
    padding-left: 4rem;
    line-height: 3;
    border-top: 2px solid var(--secondary-text-color);
    /* background-color: var(--cards-sections-color); */
}

.footer .text {
    font-size: 1.2em;
}

.footer .text:first-child {
    font-weight: bold;
}

.footer .text:last-child {
    color: var(--secondary-text-color);
}

/*---Responsividade---*/

/*Tablets*/
@media screen and (max-width: 1023px) {

    /* Barra de Navegação */
    .navbar-links:active {
        color: var(--accent-color);
    }

    /*Minhas Habilidades*/
    .skill-cards {
        grid-template-columns: auto auto;
        padding: 1rem;
        gap: 2rem;
    }

    /*Conteúdo Extra*/
    .extra-content-container {
        flex: 1 1 calc(50% - 1rem);
    }

    .extra-content-container:last-child {
        flex: 1 1 100%;
    }
}

/*Celulares*/
@media screen and (max-width: 767px) {

    /*Nome, Frase e Foto*/
    .name-and-phrase .name {
        font-size: 2em;
    }

    .name-and-phrase .phrase {
        font-size: 1em;
    }

    .profile-image-div {
        width: 15rem;
        height: 15rem;
    }

    /* Barra de Navegação */
    .navbar {
        border: none;
        margin: 2rem 0;
    }

    .navbar-logo-div {
        display: none;
    }

    .navbar-list {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links {
        margin-bottom: 0.5rem;
        font-size: 1em;
        border-bottom: 1px solid var(--main-text-color);
    }

    /*Sobre Mim*/
    .about-me-description {
        font-size: 1em;
    }

    /*Minhas Habilidades*/
    .skill-cards {
        padding: 0.5rem;
        gap: 1rem;
    }

    .skill {
        width: 180px;
        height: 230px;
    }

    .skill p {
        font-size: 0.8em;
    }

    .skill-icon {
        font-size: 4em;
    }

    /*Conteúdo Extra*/
    .extra-content-container,
    .extra-content-container:last-child {
        flex: 1 1 100%;
    }

    /*Sessão "Curiosidades, Hobbies e Contato"*/
    .curiosities {
        text-align: center;
    }

    /*Rodapé*/
    .footer {
        padding-left: 0.5rem;
    }
}

@media screen and (max-width: 400px) {

    /*Minhas Habilidades*/
    .skill-cards {
        padding: 0.5rem;
        gap: 1rem;
        grid-template-columns: auto;
    }
}