/*
Paleta de cores:
Background principal	Preto grafite	#0D1117
Background secundário	Cinza escuro	#161B22
Cards/Seções	Cinza azulado	#21262D
Cor de destaque	Azul GitHub	#58A6FF
Texto principal	Cinza claro	#E6EDF3
Texto secundário	Cinza médio	#8B949E
*/

/* Reset CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    line-height: 1.5;
}

img {
    max-width: 100%;
    display: block;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button,
input,
textarea,
select {
    font: inherit;
}

/* Estilização da barra de navegação */

.navbar {
    align-items: center;
    background-color: #161B22;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0.5rem 1.5rem;
}

.navbar-logo-div {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    overflow: hidden;
}

.navbar-logo-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navbar-links {
    color: #E6EDF3;
}